* {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

body {
    background-color: #EEEEEE;
    font: 1em Verdana, sans-serif;;
    color: rgb(80, 80, 80);
}

.center {
    width: 909px;
    margin: 0 auto;
}

ul {
    list-style: none outside none;
    font-size: 1em;
}

a {
    color: rgb(255, 102, 0);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: rgb(0, 134, 207);
}

#header {
    height: 90px;
    margin-bottom: 10px;
}

#logo {
    height: 80px;
    float: left;
}

#home-logo {
    width: 909px;
    height: 350px
}

#home-logo div {
    margin-left: 230px;
    float: left;
    width: 400px;
}

#links {
    padding-top: 10px;
    float: right;
}

#face {
    width: 150px;
    height: 103px;
    position: fixed;
    bottom: 0;
    background: url(/static/images/face.png) no-repeat;
    cursor: pointer;
}

.head {
    height: 325px;
    position: relative;
    z-index: 2;
}

.box1 {
    background: none repeat scroll 0 0 rgb(246, 246, 246);
    border: 1px solid rgb(234, 234, 234);
    -moz-border-radius: 5px 5px 5px 5px;
    margin-bottom: 21px;
}

.box-title {
    margin: 10px;
}

.box1 img {
    margin-right: 10px;
}

.box1 h3 {
    position: relative;
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    border: 1px solid rgb(234, 234, 234);
    -moz-border-radius: 4px 4px 4px 4px;
    line-height: 30px;
    height: 30px;
    font-size: 15px;
    padding: 1px 12px 1px 12px;
}

.box1 .cont, .box1 .tags, .box1 .view-full, .box1 .proofs, .box1 .login-form, .box1 .reg-form, .box1 .add-bugurt, .box1 .settings {
    margin: 10px;
}
.add-bugurt p{
    width: 620px;
    float: left;
    margin-bottom: 10px;
}
.add-bugurt label{
    float: left;
}
.add-bugurt input, textarea{
    width: 500px;
    float: right;
}
.box1 .view-full {
    text-align: right;
}

.login-form .error, .reg-form .error,.errorlist {
    color: #ff0000;
    margin-bottom: 10px;
}

#login {
    width: 300px;
    margin: 17% auto;
}

#reg {
    width: 400px;
    margin: 17% auto;
}

#login p, #reg p{
    height: 25px;
}

#login input, #reg input {
    float: right;
}

.left {
    width: 695px;
    float: left;
    min-height: 1px;
}

.right {
    width: 214px;
    float: left;
}

.footer {
    text-align: center;
    font-size: 12px;
    font-family: serif;
    margin: 2em 0 0 0;
}

.home_l {
    float: left;
    margin-right: 20px;
    width: 442px;
    height: 300px;
}

.home_r {
    float: right;
    width: 442px;
    height: 300px;
}

.reply {
    width: 470px;
    background: #DDDDDD;
    border: solid 1px #CCCCCC;
    padding: 0;
    margin: 0 0 10px 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.like {
    cursor: pointer;
    width: 8px;
    height: 21px;
    float: left;
    background: url(/static/images/like.gif) no-repeat 0 0;
    margin-top: 5px;
}

.dislike {
    cursor: pointer;
    width: 8px;
    height: 21px;
    float: left;
    background: url(/static/images/like.gif) no-repeat -9px 0;
    margin-top: 5px;
}
#commentaries{
    float: left;
}
.suggestionsBox {
    position: relative;
    margin: 10px 0 0 0;
    width: 300px;
    background-color: #EFEFEF;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 2px solid #999;
    color: #333;
}

.suggestionList {
    margin: 0;
    padding: 0;
}