{% extends 'base.html' %}{% block content %}{% if bugurt %}
      <div class="box1">
        <div class="box-title">
          <h3>{{ bugurt.name }} :: {{ bugurt.date|date:'' }} {% ifequal bugurt.author.id user.id %}<a href="{{ bugurt.absolute_url }}edit/">Редактировать</a> | <a href="{{ bugurt.absolute_url }}delete/">Удалить</a>{% endifequal %}{% include 'includes/likes.html' %}</h3>
        </div>
        <div class="cont">
          {{ bugurt.text|escape }}
        </div>
        {% if bugurt.proofs.count %}<div class="proofs"> Пруфы:  {% for proof in bugurt.proofs.all %}
          <a href="http://{{ proof.link }}" target="_blank">{{ proof.link }}</a>
        {% endfor %}</div>{% endif %}
        {% if bugurt.tags.count %}<div class="tags">
          <div>Теги:  {% for tag in bugurt.tags.all %}
            <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
          {% endfor %}</div>
        </div>{% endif %}
      </div>
    <div id="commentaries">
      <h3>Комментарии:</h3>
      <ul id="comments">
        {% if bugurt.bugurtcomments %}{% for comment in bugurt.bugurtcomments.all %}<li id="comment{{ comment.id }}" class="reply">
          <div>#{{ comment.id }} {{ comment.author }} {{ comment.date|date:"d.m.y, H:m" }}</div>{{ comment.text }}
        </li>{% endfor %}
      {% else %}Комметариев нет{% endif %}</ul>
        {% if user.is_authenticated %}
                <form action="/ajax/post_comment/" method="post">
                  {% csrf_token %}
                  <input type="hidden" id="bugurt" value="{{ bugurt.id }}">
                  <p><label for="text">Комментарий</label><br /><textarea id="text" rows="10" cols="60"></textarea></p>
                </form>
                <button id="add_post">Ответить</button>
              {% endif %}</div>
    {% else %}Not bugurt
    {% endif %}
    {% endblock %}