<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Бугуртач - {{ title }}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="wrapper-bgtop">
		<div id="header">
            <a href="/"><span id="logo"></span></a>
			<hr />
			<!-- end #logo -->
			<div id="menu">
				<ul>
					<li class="first"><a href="/bugurts/{{ user }}">{{ user }}</a></li>
					<li><a href="/settings">settings</a></li>
					<li><a href="/logout" class="last">logout</a></li>
				</ul>
			</div>
		</div>
		<!-- end #header -->
		<!-- end #header-wrapper -->
		<div id="page">
			<div id="content">
                {% block content %}{% endblock %}
			</div>
			<!-- end #content -->
			<div id="sidebar">
                {% block rightbar %}{% endblock %}
			</div>
			<!-- end #sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #page -->
	</div>
</div>
<div id="footer-bgcontent">
	<div id="footer">
		<p>Copyright (c) 2011 bugurtach.tk. All rights reserved.</p>
	</div>
</div>
<!-- end #footer -->
<div id="face" onclick="alert('анус себе дёрни, ПЕС');"></div>
</body>
</html>