<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Бугуртач - {{ title }}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bugurt.js"></script>
</head>
<body>
<div id="wrapper">
	<div id="wrapper-bgtop">
		<div id="header">
            <a href="/"><span id="logo"></span></a>
			<hr />
			<!-- end #logo -->
			<div id="menu">
				<ul>
                    {% if user.is_authenticated %}
                        <li><a href="/bugurts/add/">забугуртить</a></li>
					    <li><a href="/user/{{ user }}/">{{ user }}</a></li>
                        <li><a href="/settings">настройки</a></li>
                        <li><a class="last" href="/logout" >выход</a></li>
                    {% else %}
                        <li><a href="/login">войти</a></li>
                        <li><a class="last" href="/registration">регистрация</a></li>
                    {% endif %}
				</ul>
			</div>
		</div>
		<!-- end #header -->
		<!-- end #header-wrapper -->
		<div id="page">
			<div id="content">
                {% block content %}{% endblock %}
			</div>
			<!-- end #content -->
			<div id="sidebar">
                {% block rightbar %}{% endblock %}
			</div>
			<!-- end #sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #page -->
	</div>
</div>
<div id="footer-bgcontent">
	<div id="footer">
		<p>Copyright (c) 2011 bugurtach.tk. All rights reserved.</p>
	</div>
</div>
<!-- end #footer -->
{% if messages %}
<div id="messages">
    <ul>
        {% for message in messages %}
        <li>{{ message|escape }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div id="face"></div>
</body>
</html>