{% extends "base.html" %}
{% block content %}
    {% csrf_token %}
    {% if bugurts %}
        {% for bugurt in bugurts %}
            <div class="post">
                <p class="meta">{{ bugurt.date|date:'' }} Posted by <a href="{{ bugurt.author.get_absolute_url }}">{{ bugurt.author }}</a></p>
                <h2 class="title"><a href="{{ bugurt.get_absolute_url }}">{{ bugurt.name }}</a></h2>
                <div class="entry">
                    {{ bugurt.text|escape }}
                    <div><a href="{{ bugurt.get_absolute_url }}" class="links">View Full Bugurt</a></div>
                    {% if bugurt.tags.count %}
                        <div>Теги:
                            {% for tag in bugurt.tags.all %}
                                <a href="/tags/{{ tag.title }}/">{{ tag.title }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% include 'includes/likes.html' %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2 class="title"><a>Not bugurts</a></h2>
    {% endif %}
{% endblock %}
{% block rightbar %}
<ul>
    <li>
        <h2>Top bugurt</h2>
        <p>{{ top_bugurt.text|truncatewords:10 }}</p>
        <p><a href="{{ top_bugurt.get_absolute_url }}">{{ top_bugurt.name }}</a></p>
    </li>
    <li>
        {% include 'includes/latest_bugurts.html' %}
    </li>
    <li>
        {% include 'includes/latest_commentaries.html' %}
    <li>
        <h2>Tags</h2>
        <ul>
            {% if tags %}
                {% for tag in tags %}
                    <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>,
                {% endfor %}
            {% else %}
                <li><a>Not tags</a></li>
            {% endif %}
        </ul>
    </li>
</ul>
{% endblock %}