{% extends "base.html" %}
{% block content %}
    {% if bugurts %}
        {% for bugurt in bugurts %}
            <div class="post">
                <p class="meta">{{ bugurt.date|date:'' }} забугуртил <a href="#">{{ bugurt.author }}</a></p>
                <h2 class="title"><a href="/bugurts/{{ bugurt.name }}/">{{ bugurt.name }}</a></h2>
                <div class="entry">
                    {{ bugurt.text|escape }}
                    <div><a href="/bugurts/{{ bugurt.name }}/" class="links">Полностью</a></div>
                    {% if bugurt.tags.count %}
                        <div>Теги:
                            {% for tag in bugurt.tags.all %}
                                <a href="/tags/{{ tag.title }}">{{ tag.title }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% include 'includes/likes.html' %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2 class="title"><a>Not bugurts</a></h2>
    {% endif %}
{% endblock %}
{% block rightbar %}
<ul>
    <li>
        <h2>User info:  </h2>
        <p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in consectetuer hendrerit, volutpat.</p>
    </li>
    <li>
        {% include 'includes/latest_bugurts.html' %}
    </li>
    <li>
       {% include 'includes/latest_commentaries.html' %}
    </li>
</ul>
{% endblock %}