{% extends 'base.html' %}
{% block content %}
    <label for="bugurt"></label><input id="bugurt" value="{{ bugurt.id }}" style="display: none;"/>
    <form action="" method="POST">
        {% csrf_token %}
        {{ edit_form.as_p }}
        {% if bugurt.tags %}
            Теги:
            <ul id="tags">
                {% for tag in bugurt.tags.all %}
                    <li id="tag_{{ tag.id }}"><a>{{ tag.title }}</a>: <span id="{{ tag.id }}" class="delete_tag">удалить</span></li>
                {% endfor %}
            </ul>
            <ul>
                <li>{{ tag_add }} <span class="add_tag">Добавить тег</span></li>
            </ul>
        {% endif %}
        {% if bugurt.proofs %}
            <ul id="proofs">
            {% for proof in bugurt.proofs.all %}
                <li id="proof_{{ proof.id }}"><a>{{ proof.link }}</a>: <span id="{{ proof.id }}" class="delete_proof">удалить</span></li>
            {% endfor %}
            </ul>
            <ul>
                <li>{{ proof_add }} <span class="add_proof">Добавить пруф</span></li>
            </ul>
        {% endif %}
        <input type="submit" value="Сохранить">
    </form>
{% endblock %}