{% extends 'base.html' %}
{% block content %}
    <div class="post">
        <p class="meta">{{ bugurt.date|date:'' }}</p>
        <h2 class="title">{{ bugurt.name }}</h2>
        <div class="entry">
            {{ bugurt.text|escape }}
            {% include 'includes/likes.html' %}
        </div>
    </div>
    {% include 'includes/commentaries.html' %}
{% endblock %}
{% block rightbar %}
<ul>
    {% ifequal bugurt.author.id user.id %}
    <li>
        <h2>Options</h2>
        <ul>
            <li><a href="{{ bugurt.absolute_url }}edit/">Редактировать</a></li>
            <li><a href="{{ bugurt.absolute_url }}delete/">Удалить</a></li>
        </ul>
    </li>
    {% endifequal %}
    <li>
        <h2>Теги</h2>
        <ul>
            {% if bugurt.tags.count %}
                {% for tag in bugurt.tags.all %}
                    <li><a href="/tags/{{ tag.title }}/">{{ tag.title }}</a></li>
                {% endfor %}
            {% else %}
                <li><a>Нет тегов</a></li>
            {% endif %}
        </ul>
    </li>
</ul>
{% endblock %}